<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EmployeeXmlPath" value="App_Data/Employee.xml" />
    <add key="WishWord" value="今天是明东员工{0}的生日，明东公司给您送上最真挚的祝福，祝您生日快乐、生活幸福。测试用" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true"></compilation>
    <authentication mode="Windows" />
  </system.web>
</configuration>
